<div class="linkslegales"><a href="/PoliticaConfidencialidad/">Politica de Confidencialidad</a> | <a href="/TerminosCondiciones/">Terminos y Condiciones</a> | <a href="/infolegales/secturRNT/">RNT Sectur</a></div>
<div class="metodospagos"><img src="/imagenesMVRM/iconos/cc-visa.svg" alt="cc-Visa"><img src="/imagenesMVRM/iconos/cc-mastercard.svg" alt="cc-MC"><img src="/imagenesMVRM/iconos/cc-amex.svg" alt="cc-Amex"><img src="/imagenesMVRM/iconos/cc-paypal.svg" alt="Paypal"></div>
<div id="back_top"><a class="button" title="" data-slide="1" href="#tampontop"></a></div>
<div class="copyright"><span>MiniVacs-RivieraMaya &copy; {{ site.year }} Todos Derechos Reservados. </span></div>
