---
permalink: Pagos/parcialidades/index.html
title: Parcialidades - MiniVacs Riviera Maya
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
    <title>Parcialidades - MiniVacs Riviera Maya</title>
    <meta name="description"
          content="Las mejores ofertas de vacaciones para toda la familia en Cancún y Riviera Maya en hoteles plan de alimentos todo incluido a pie de playa ">
    <meta name="keywords"
          content="vacaciones, familia, Cancun, Riviera Maya, hoteles, descuentos, ofertas, todo incluido, playa, ">
    {% include "head-info.html" %}
    
    <!-- SCRIPTS TOP -->
    <script src="https://js.stripe.com/v3"></script>    
    
    <style>
        .foot_block_intouch li{margin-bottom: 0;}
        .flex-wrapper {
          display: flex;
          min-height: 80vh;
          flex-direction: column;
          justify-content: space-between
        }
    
    </style>

</head>
    <body>
        <div class="menu-top slidePoint">	
            <div class="container clearfix">
               {% include "menu-info.html" %}
            </div>
        </div>
        <div id="tampontop"></div>
        <div class="container clearfix flex-wrapper">
            
            <div class="grid_12 info-footer-img" >
                <div class="grid_4" >
                    <div class="bubble-text">
                            <div class="featured-image">
                                <img  alt="" src="/imagenesMVRM/iconos/Parcia2000-260x161.jpg"/>
                            </div>
                        <div class="column last">
                            <h5>Parcialidad $2000 MXN</h5>
                            <p>Te gustaría pagar tu paquete en cómodas parcialidades? Asegura tu promoción HOY y paga el resto más tarde. Sólo te cuesta el 15% adicional del valor del paquete apartando con $2000 MXN.</p></div>
                            <!--button
                                id="checkout-button-price_1HGFbtIKNUCzfCEX2fqRbKNM"
                                role="link"
                                type="button"
                            >Pagar</button-->
                            <div id="error-message" style="float:left;"></div>
                            <form class="paypaladroite" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="W3QHVLKWFCYQY">
                                <input type="image" src="/imagenesMVRM/iconos/ppexpress3.png" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">  
                            </form>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_4" >
                    <div class="bubble-text">
                            <div class="featured-image">
                                <img  alt="" src="/imagenesMVRM/iconos/Parcia3000-260x161.jpg"/>
                            </div>
                        <div class="column last">
                            <h5>Parcialidad $3000 MXN</h5>
                            <p>Te gustaría pagar tu paquete en cómodas parcialidades? Asegura tu promoción HOY y paga el resto más tarde. Sólo te cuesta el 10% adicional del valor del paquete apartando con $3000 MXN.</p></div>
                            <!--button
                                id="checkout-button-price_1HGFceIKNUCzfCEXtMvBQNEI"
                                role="link"
                                type="button"
                            >Pagar</button-->
                            <div id="error-message" style="float:left;"></div>
                            <form class="paypaladroite" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="BTG5F29YNH7VL">
                                <input type="image" src="/imagenesMVRM/iconos/ppexpress3.png" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>                      
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_4" style="margin-right: 0">
                    <div class="bubble-text">
                            <div class="featured-image">
                                <img  alt="" src="/imagenesMVRM/iconos/Parcia4000-260x161.jpg"/>
                            </div>
                        <div class="column last">
                            <h5>Parcialidad $4000 MXN</h5>
                            <p>Te gustaría pagar tu paquete en cómodas parcialidades? Asegura tu promoción HOY y paga el resto más tarde. Sólo te cuesta el 5% adicional del valor del paquete apartando con $4000 MXN.</p></div>
                            <!--button
                                id="checkout-button-price_1HGFdsIKNUCzfCEXLpR9aeiz"
                                role="link"
                                type="button"
                            >Pagar</button-->
                            <div id="error-message" style="float:left;"></div>
                            <form class="paypaladroite" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="AVQYWEDJ26PTS">
                                <input type="image" src="/imagenesMVRM/iconos/ppexpress3.png" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>
                      
                        <div class="clear"></div>
                    </div>
                </div>
                
            </div>     
        </div>

    <div id="footer">
        <div class="container clearfix">
            {% include "footer-info.html" %}
        </div>
    </div>
    <!-- SCRIPTS GATEWAY -->
    {# Original Pagos/parcialidades.php uses "https://www.minivacs-rivieramaya.com/" as successUrl. #}
    {% set successUrl = site.url + "/" %}
    {% set cancelUrl = site.url + "/Pagos/parcialidades/" %}
    {% set buttonId = "checkout-button-price_1HGFbtIKNUCzfCEX2fqRbKNM" %}
    {% set priceId = "price_1HGFbtIKNUCzfCEX2fqRbKNM" %}
    {% include "stripe-installment.html" %}
    {% set buttonId = "checkout-button-price_1HGFceIKNUCzfCEXtMvBQNEI" %}
    {% set priceId = "price_1HGFceIKNUCzfCEXtMvBQNEI" %}
    {% include "stripe-installment.html" %}
    {% set buttonId = "checkout-button-price_1HGFdsIKNUCzfCEXLpR9aeiz" %}
    {% set priceId = "price_1HGFdsIKNUCzfCEXLpR9aeiz" %}
    {% include "stripe-installment.html" %}
    </body>
</html>
