<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">    
    <title>Terminos y Condiciones - MiniVacs Riviera Maya</title>
    <meta name="description"
          content="Terminos y Condiciones de las ofertas en MiniVacs Riviera Maya">
    <meta name="keywords"
          content="Terminos y Condiciones, vacaciones, familia, Cancun, Riviera Maya, hoteles, descuentos, ofertas, todo incluido, playa, ">
    {% include "head-info.html" %}

</head>
<body>
    <div class="menu-top slidePoint">	
        <div class="container clearfix">
           {% include "menu-info.html" %}
        </div>

    </div>
    <div id="tampontop"></div>
    <div class="pagetexte">
        <h2>Terminos y Condiciones</h2>
        <br>
        <p style="line-height: 22.4px; font-size: 16px;">
            •  Por ser de cupos limitados, el precio de la promoción es válido únicamente en la primera llamada. Para las compras posteriores se podrá aplicar una cuota de activación de 400 USD (su equivalente en Pesos Mexicanos dependiendo del tipo de cambio).<br><br> 
            •  Promoción válida para viajar hasta 12 meses después de la compra con fechas abiertas. Usted cuenta con 12 meses para viajar a su destino principal, siempre y cuando efectúe su reservación de 45 a 60 días antes de su llegada, teniendo restringidas las semanas de Navidad, Año Nuevo, Pascua y Semana Santa, por ser paquete adquirido en tarifa promocional. Si su viaje es en menos de 45 días, comunicarse con un asesor para verificar disponibilidad. Si desea viajar dentro de las fechas restringidas, comunicarse con un asesor para conocer las condiciones del momento.<br><br> 
            •  Promoción vacacional no reembolsable, 100% transferible. Aplican políticas y cuota de transferencia. <br><br>
            •  Promoción válida para adultos casados o en unión libre con edad de, 30 (35 si unión libre) a 65 (Se considera la edad del hombre).<br><br>
            •  Por ser una promoción familiar y para poderle reservar, la/el titular del certificado deberá viajar con su cónyuge (aplica a todos los que viajan con estas promociones subsidiadas). <br><br>
            •  Esta es una oferta promocional y no podrá ser usada con ningún otro certificado o promoción. Si viaja en grupo, el subisidio aplica solo para una sola habitación. <br><br>
            •  Esta promoción no incluye: transportación aérea, gastos por lavandería, llamadas telefónicas hechas desde su habitación y si aplica, el pago de impuestos hoteleros. Incluye su transportación de llegada desde el aeropuerto de Cancún hasta su hotel, siendo obligatorio tomar este servicio. <br><br>            
            •  Es requisito para hacer su registro en el hotel presentar una identificación oficial y dos tarjetas de crédito vigentes. <br><br>
            •  Esta oferta vacacional fue creada con fines promocionales de los hoteles participantes, subsidiada por el club privado vacacional, la cual incluye un tour de presentación al siguiente día de su llegada con una duración de 90 a 120 minutos como requisito para el uso de esta promoción. <br><br>
            •  Nosotros no vendemos boletos de avión y por lo tanto no nos hacemos responsables de tarifas de vuelos que algún vendedor o representante les haya ofrecido, recuerde que nadie puede garantizar dichas tarifas pues estas son emitidas por las líneas aéreas y cambian constantemente debido a la oferta, la demanda, la disponibilidad y la vigencia de sus promociones. <br><br>
            •  No nos hacemos responsables por ofrecimientos verbales o escritos hechos por algún representante, agente o patrocinador fuera de lo que se especifica en estos términos de participación y de no cumplir con ellos ya sea al momento de reservar o durante su check-in, se le cargara la tarifa rack vigente del hotel. <br><br>
            •  Al momento de reservar aplica una cuota de activación de $199 USD (su equivalente en Pesos Mexicanos dependiendo del tipo de cambio) <br><br>
            •  Este paquete deberá de ser utilizado para viajar a su destino principal en una única ocasión. Paquetes adicionales no podrán ser utilizados subsecuentemente por huéspedes que ya hayan viajado bajo alguna otra de nuestras promociones vacacionales.<br><br>
            •  El precio de venta tiene un subsidio por parte del club vacacional que solo aplica para un paquete por lo que en caso requerir un segundo paquete se deberá de pagar un extra de $899 USD (su equivalente en Pesos Mexicanos dependiendo del tipo de cambio) más el precio de venta. <br><br>
            •  Este paquete no es válido par pensionados retirados o jubilados, personas que no laboran, personas que laboran en hotelería y/o aerolíneas, agencia de viaje, tiempo compartido, cualquier empresa relacionada con la industria turística, ministros religiosos, arrendatarios, solteras y solteros; la agencia se reserva el derecho de solicitar justificantes al momento de solicitar la reserva. <br><br>
            •  Este paquete no podrá ser utilizado por personas que viajan a eventos especiales o sociales como, en forma enunciativa mas no limitativa, bodas, congresos, convenciones, conferencias, cursos y reuniones de trabajo entre otros. Así como no aplica si llega al destino antes de la fecha reservada con el prestador de servicio final, si se queda más noches deberá solicitarlas al momento de reservar pagando una tarifa preferencial quedándose en el mismo hotel. <br><br>
            •  Para poder solicitar su reservación su paquete deberá estar pagado al 100%.     <br><br>        
        </p>
    </div>        
        
    <div id="footer">
        <div class="container clearfix">
            {% include "footer-info.html" %}
        </div>
    </div>
</body>
</html>
