---
permalink: infolegales/secturRNT/index.html
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">    
    <title>RNT Sectur - MiniVacs Riviera Maya</title>
    <meta name="description"
          content="RNT Sectur de MiniVacs Riviera Maya">
    <meta name="keywords"
          content="RNT, Registro Nacional de Turismo, Sectur, vacaciones, familia, Cancun, Riviera Maya, hoteles, descuentos, ofertas, todo incluido, playa, ">
    {% include "head-info.html" %}
    
    <style>
        .certif {
            min-height: 100vh;
            text-align:center;
            margin:130px auto 50px auto;
        }
        .certif h2 {color: black;margin-bottom: 30px;}
        @media only screen and (max-width: 900px){
            .certif {margin:20px 5% 20px 5%;}
            .certif img {width: 100%;}
        }
    
    </style>

</head>
<body>
    <div class="menu-top slidePoint">	
        <div class="container clearfix">
           {% include "menu-info.html" %}
        </div>

    </div>
    <div id="tampontop"></div>
    <div class="certif">
        <h2>Registro Nacional de Turismo Sectur</h2>
        <img src="/imagenesMVRM/iconos/MVRM-Sectur-RNT.jpg" alt="Registro Nacional de Turismo Sectur" />
    </div>        
        
    <div id="footer">
        <div class="container clearfix">
            {% include "footer-info.html" %}
        </div>
    </div>
</body>
</html>
