
<!DOCTYPE HTML>
<html>
<head>
    <!-- META -->    
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
	<title>MiniVacs Riviera Maya - Vacaciones en Familia</title>
    <link rel="shortcut icon" type="image/x-icon" href="imagenesMVRM/logos/MVRM-logo.ico">
    <meta name="description"
          content="Las mejores ofertas de vacaciones para toda la familia en Cancún y Riviera Maya en hoteles plan de alimentos todo incluido a pie de playa ">
    <meta name="keywords"
          content="vacaciones, familia, Cancun, Riviera Maya, hoteles, descuentos, ofertas, todo incluido, playa, ">
	<meta name="author" content="TravelWorld y Fabien Lopez">
    <!-- CSS -->
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="/css/jquery-ui-1.10.1.custom.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="/css/normalize.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="/css/flexslider.css" rel="stylesheet" id="camera-css" type="text/css" media="all"/>
	<link href="/css/grid.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="/css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" />
    <!-- FONT -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'/>
    <!-- SCRIPTS -->
	<script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script>
	<script src="/js/jquery.easing.1.3.js" type="text/javascript"></script>
	<script src="/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="/js/slider/jquery.flexslider-min.js" type="text/javascript"></script>
	<!--Google Maps-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>
     <!--End Google Maps-->
	<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
		<script src="/js/respond.src.js"></script>
	<![endif]-->
	<!-- CSS -->
    <link href="/css/coordMap.css" rel="stylesheet" type="text/css" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link href="/css/slide/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/slide/settings.css" rel="stylesheet" type="text/css" media="screen" /-->
    <noscript>
			<link rel="stylesheet" type="text/css" href="/css/nojs.css" />
    </noscript>	
</head>

<body>

    <div class="menu-top">	
        <div class="container clearfix">
         <!-- Logo -->
            <div id="logo" class="fleft">
                <a href="#slide0"><picture><source media="(min-width:767px)" srcset="/imagenesMVRM/logos/MVRM-logocompleto.svg"><source media="(max-width:766px)" srcset="/imagenesMVRM/logos/MVRM-logocompleto-line.svg"><img src="/imagenesMVRM/logos/MVRM-logo.png" alt=""/></picture></a>
            </div>
		    <!-- Navigation -->
            <div id="nav" class="fright">
                <ul class="navigation">
                    <li data-slide="5">Ofertas</li>
                    <li data-slide="6">Descubre</li>
                    <li data-slide="10">Contacto</li>
                </ul>
                <div class="clear"></div>
            </div>
	   
        </div>
       
    </div>
   
    <div class="clear"></div>
    <!-- SlideShow -->
    <div class="slidePoint" id="slide0" data-slide="1" data-stellar-background-ratio="0.5">
        <div class="padding_slide1">
            <div class="clearfix">

                <div style="margin-bottom:0;">

                    <div class="fullwidthbanner-container">					
                        <div class="fullwidthbanner">

                            <ul>
                                <!--Slider 1 -->	
                                <li data-transition="fade" data-slotamount="5" data-thumb="#">		
                                    <!--picture>
                                        <!--source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/MVRM-slider-1-1536x840.webp" type="image/webp">
                                        <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/MVRM-slider-1-1536x840.jpg">
                                        <source srcset="/imagenesMVRM/cache/large/webp/portada/MVRM-slider-1-1536x840.webp" type="image/webp"-->
                                        <img src="/imagenesMVRM//cache/device/webp/portada/MVRM-slider-1-1536x840.webp" alt=""/>
                                    <!--/picture>
                                    <!--Computer View -->	
                                    <div class="caption lfl small_text monitor-view" data-x="-20" data-y="100" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <!--picture>
                                                <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/beneficio-del-dia-400x400.webp" type="image/webp"-->
                                                <img src="/imagenesMVRM/portada/slide/beneficio-del-dia-400x400.png" alt=""/>
                                            <!--/picture-->
                                           <div class='content-ads'>
                                                <h3>GRATIS hasta 2 Niños</h3>
                                                <p>Todo Incluido</p>
                                                <p>5D/4N</p>
                                                <a href="#slide10">Más Info</a>
                                           </div>
                                        </div>
                                     </div>
                                    <div class="caption lfb small_text monitor-view" data-x="300" data-y="100" data-speed="700" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <picture>
                                                <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/FelizAnioNuevo-minivacs-400x400.webp" type="image/webp">
                                                <img src="/imagenesMVRM/portada/slide/FelizAnioNuevo-minivacs-400x400.png" alt=""/>
                                            </picture>
                                           <div class='content-ads'>
                                                <h3>La Mejor Inversión</h3>
                                                <p>Cupos Limitados</p>
                                                <p>12 Meses para Vacacionar</p>
                                                <a href="#slide10">Más Info</a>
                                           </div>
                                        </div>
                                    </div>
                                    <div class="caption lfr small_text monitor-view" data-x="620" data-y="100" data-speed="500" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <picture>
                                                <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/Promocion-Verano-400x400.webp" type="image/webp">
                                                <img src="/imagenesMVRM/portada/slide/Promocion-Verano-400x400.png" alt=""/>
                                            </picture>
                                           <div class='content-ads'>
                                                <h3>Hasta -70%</h3>
                                                <p>Solo por Hoy</p>
                                                <p>Compra ahora</p>
                                                <a href="#slide10">Más Info</a>
                                           </div>
                                        </div>
                                    </div>
                                    <!--DEvice view-->
                                    <div class="caption lfb small_text device" data-x="120" data-y="70" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <div class='img-slide-con'>
                                                <picture>
                                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/beneficio-del-dia-400x400.webp" type="image/webp">
                                                    <img src="/imagenesMVRM/portada/slide/beneficio-del-dia-400x400.png" alt=""/>
                                                </picture>
                                            </div>
                                            <div class='content-ads'>
                                                <h3>GRATIS hasta 2 Niños</h3>
                                                <p>Todo Incluido</p>
                                                <p>5D/4N</p>
                                                <a href="#slide10">Más Info</a>
                                            </div>
                                        </div>
                                     </div>
                                    <div class="caption lfb small_text device ss2" data-x="120" data-y="260" data-speed="700" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <div class='img-slide-con'>
                                                <picture>
                                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/FelizAnioNuevo-minivacs-400x400.webp" type="image/webp">
                                                    <img src="/imagenesMVRM/portada/slide/FelizAnioNuevo-minivacs-400x400.png" alt=""/>
                                                </picture>
                                            </div>
                                            <div class='content-ads'>
                                                <h3>La Mejor Inversión</h3>
                                                <p>Cupos Limitados</p>
                                                <p>12 Meses para Vacacionar</p>
                                                <a href="#slide10">Más Info</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption lfb small_text device ss3" data-x="120" data-y="450" data-speed="500" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <div class='img-slide-con'>
                                                <picture>
                                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/Promocion-Verano-400x400.webp" type="image/webp">
                                                    <img src="/imagenesMVRM/portada/slide/Promocion-Verano-400x400.png" alt=""/>
                                                </picture>
                                            </div>
                                            <div class='content-ads'>
                                                <h3>Hasta -70%</h3>
                                                <p>Solo por Hoy</p>
                                                <p>Compra ahora</p>
                                                <a href="#slide10">Más Info</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--Slider 2 -->	
                                <li data-transition="fade" data-slotamount="6" data-thumb="#"> 									
                                        <!--picture>
                                            <!--source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/MVRM-slider-1-1536x840.webp" type="image/webp">
                                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/MVRM-slider-1-1536x840.jpg">
                                            <source srcset="/imagenesMVRM/cache/large/webp/portada/MVRM-slider-1-1536x840.webp" type="image/webp"-->
                                            <img src="/imagenesMVRM//cache/device/webp/portada/MVRM-slider-1-1536x840.webp" alt=""/>
                                        <!--/picture>
                                    <!--Computer View -->	
                                    <div class="caption lfl small_text monitor-view" data-x="-20" data-y="100" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <picture>
                                                <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/FelizAnioNuevo-minivacs-400x400.webp" type="image/webp">
                                                <img src="/imagenesMVRM/portada/slide/FelizAnioNuevo-minivacs-400x400.png" alt=""/>
                                            </picture>
                                           <div class='content-ads'>
                                                <h3>La Mejor Inversión</h3>
                                                <p>Cupos Limitados</p>
                                                <p>12 Meses para Vacacionar</p>
                                                <a href="#slide10">Más Info</a>
                                           </div>
                                        </div>
                                     </div>
                                    <div class="caption lfb small_text monitor-view" data-x="300" data-y="100" data-speed="700" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <picture>
                                                <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/Promocion-Verano-400x400.webp" type="image/webp">
                                                <img src="/imagenesMVRM/portada/slide/Promocion-Verano-400x400.png" alt=""/>
                                            </picture>
                                           <div class='content-ads'>
                                                <h3>Hasta -70%</h3>
                                                <p>Solo por Hoy</p>
                                                <p>Compra ahora</p>
                                                <a href="#slide10">Más Info</a>
                                           </div>                                            
                                        </div>
                                    </div>
                                    <div class="caption lfr small_text monitor-view" data-x="620" data-y="100" data-speed="500" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <picture>
                                                <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/beneficio-del-dia-400x400.webp" type="image/webp">
                                                <img src="/imagenesMVRM/portada/slide/beneficio-del-dia-400x400.png" alt=""/>
                                            </picture>
                                           <div class='content-ads'>
                                                <h3>GRATIS hasta 2 Niños</h3>
                                                <p>Todo Incluido</p>
                                                <p>5D/4N</p>
                                                <a href="#slide10">Más Info</a>
                                           </div>                                            
                                        </div>
                                    </div>
                                    <!--DEvice view-->
                                    <div class="caption lfb small_text device" data-x="120" data-y="70" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <div class='img-slide-con'>
                                                <picture>
                                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/FelizAnioNuevo-minivacs-400x400.webp" type="image/webp">
                                                    <img src="/imagenesMVRM/portada/slide/FelizAnioNuevo-minivacs-400x400.png" alt=""/>
                                                </picture>
                                            </div>
                                            <div class='content-ads'>
                                                <h3>La Mejor Inversión</h3>
                                                <p>Cupos Limitados</p>
                                                <p>12 Meses para Vacacionar</p>
                                                <a href="#slide10">Más Info</a>
                                            </div>
                                        </div>
                                     </div>
                                    <div class="caption lfb small_text device ss2" data-x="120" data-y="260" data-speed="700" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <div class='img-slide-con'>
                                                <picture>
                                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/Promocion-Verano-400x400.webp" type="image/webp">
                                                    <img src="/imagenesMVRM/portada/slide/Promocion-Verano-400x400.png" alt=""/>
                                                </picture>
                                            </div>
                                            <div class='content-ads'>
                                                <h3>Hasta -70%</h3>
                                                <p>Solo por Hoy</p>
                                                <p>Compra ahora</p>
                                                <a href="#slide10">Más Info</a>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <div class="caption lfb small_text device ss3" data-x="120" data-y="450" data-speed="500" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <div class='img-slide-con'>
                                                <picture>
                                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/beneficio-del-dia-400x400.webp" type="image/webp">
                                                    <img src="/imagenesMVRM/portada/slide/beneficio-del-dia-400x400.png" alt=""/>
                                                </picture>
                                            </div>
                                            <div class='content-ads'>
                                                <h3>GRATIS hasta 2 Niños</h3>
                                                <p>Todo Incluido</p>
                                                <p>5D/4N</p>
                                                <a href="#slide10">Más Info</a>
                                            </div>                                            
                                        </div>
                                    </div>
                                </li>
                                <!--Slider 3 -->	
                                <li data-transition="fade" data-slotamount="7" data-thumb="#"> 									
                                    <!--picture>
                                        <!--source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/MVRM-slider-1-1536x840.webp" type="image/webp">
                                        <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/MVRM-slider-1-1536x840.jpg">
                                        <source srcset="/imagenesMVRM/cache/large/webp/portada/MVRM-slider-1-1536x840.webp" type="image/webp"-->
                                        <img src="/imagenesMVRM//cache/device/webp/portada/MVRM-slider-1-1536x840.webp" alt=""/>
                                    <!--/picture>
                                    <!--Computer View -->	
                                    <div class="caption lfl small_text monitor-view" data-x="-20" data-y="100" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <picture>
                                                <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/Promocion-Verano-400x400.webp" type="image/webp">
                                                <img src="/imagenesMVRM/portada/slide/Promocion-Verano-400x400.png" alt=""/>
                                            </picture>
                                           <div class='content-ads'>
                                                <h3>Hasta -70%</h3>
                                                <p>Solo por Hoy</p>
                                                <p>Compra ahora</p>
                                                <a href="#slide10">Más Info</a>
                                           </div> 
                                        </div>
                                     </div>
                                    <div class="caption lfb small_text monitor-view" data-x="300" data-y="100" data-speed="700" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <picture>
                                                <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/beneficio-del-dia-400x400.webp" type="image/webp">
                                                <img src="/imagenesMVRM/portada/slide/beneficio-del-dia-400x400.png" alt=""/>
                                            </picture>
                                           <div class='content-ads'>
                                                <h3>GRATIS hasta 2 Niños</h3>
                                                <p>Todo Incluido</p>
                                                <p>5D/4N</p>
                                                <a href="#slide10">Más Info</a>
                                           </div>                                              
                                        </div>
                                    </div>
                                    <div class="caption lfr small_text monitor-view" data-x="620" data-y="100" data-speed="500" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <picture>
                                                <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/FelizAnioNuevo-minivacs-400x400.webp" type="image/webp">
                                                <img src="/imagenesMVRM/portada/slide/FelizAnioNuevo-minivacs-400x400.png" alt=""/>
                                            </picture>
                                           <div class='content-ads'>
                                                <h3>La Mejor Inversión</h3>
                                                <p>Cupos Limitados</p>
                                                <p>12 Meses para Vacacionar</p>
                                                <a href="#slide10">Más Info</a>
                                           </div>                                    
                                        </div>
                                    </div>
                                    <!--DEvice view-->
                                    <div class="caption lfb small_text device" data-x="120" data-y="70" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <div class='img-slide-con'>
                                                <picture>
                                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/Promocion-Verano-400x400.webp" type="image/webp">
                                                    <img src="/imagenesMVRM/portada/slide/Promocion-Verano-400x400.png" alt=""/>
                                                </picture>
                                            </div>
                                            <div class='content-ads'>
                                                <h3>Hasta -70%</h3>
                                                <p>Solo por Hoy</p>
                                                <p>Compra ahora</p>
                                                <a href="#slide10">Más Info</a>
                                            </div> 
                                        </div>
                                     </div>
                                    <div class="caption lfb small_text device ss2" data-x="120" data-y="260" data-speed="700" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <div class='img-slide-con'>
                                                <picture>
                                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/beneficio-del-dia-400x400.webp" type="image/webp">
                                                    <img src="/imagenesMVRM/portada/slide/beneficio-del-dia-400x400.png" alt=""/>
                                                </picture>
                                            </div>
                                            <div class='content-ads'>
                                                <h3>GRATIS hasta 2 Niños</h3>
                                                <p>Todo Incluido</p>
                                                <p>5D/4N</p>
                                                <a href="#slide10">Más Info</a>
                                            </div>                                             
                                        </div>
                                    </div>
                                    <div class="caption lfb small_text device ss3" data-x="120" data-y="450" data-speed="500" data-start="1300" data-easing="easeOutExpo">
                                        <div class='grid-ads'>
                                            <div class='img-slide-con'>
                                                <picture>
                                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/slide/FelizAnioNuevo-minivacs-400x400.webp" type="image/webp">
                                                    <img src="/imagenesMVRM/portada/slide/FelizAnioNuevo-minivacs-400x400.png" alt=""/>
                                                </picture>
                                            </div>
                                            <div class='content-ads'>
                                                <h3>La Mejor Inversión</h3>
                                                <p>Cupos Limitados</p>
                                                <p>12 Meses para Vacacionar</p>
                                                <a href="#slide10">Más Info</a>
                                            </div>                                        
                                        </div>
                                    </div>
                                </li>

                            </ul>	
                            <div class="tp-bannertimer"></div>												
                        </div>					
                    </div>    

                </div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
    <!-- End SlideShow -->
    

    <!-- PRODUCTS = FAMILIA - PAREJA -->
    <div class="slidePoint" id="slide5" data-slide="5" data-stellar-background-ratio="0.5">
      <div id="container" class="container transitions-enabled infinite-scroll">
          <div class="grid_12" style="margin-bottom: 0;">
              <ul id="city_folio">
                  <li id="africa_folio" class="active">Familia</li>
                  <li id="europe_folio">Adultos</li>
                  <!--li id="america_folio">Puerto Morelos</li-->
              </ul>

              <!--AFRICA = FAMILIA-->
              <div id="box1" class="africa box col4 hover-item">
                  <div class="view view-first">
                      <img class="imgTop" alt="hotel" src="/imagenesMVRM/portada/MVRM-Sandos_Caracol-600x450.jpg"/>
                      <div class="abs">
                          <a class="fancybox zoom info" href="imagenesMVRM/portada/MVRM-Sandos_Caracol-600x450.jpg"></a>
                      </div>	
                  </div>
                  <div class="layer_txt">
                      <h3><a title="Some new Sketchs" rel="">Sandos Caracol</a></h3>
                      <span class="stars">
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                      </span>
                      <div class="clear"></div>
                      <p class="content_txt">Hasta 70% de descuento! Encuentra tu hotel HOY con flexibilidad para las Fechas de tu Reserva.</p>
                      <div class="extra_trip">
                          <i class="icon-comment"><span>5D/4N</span></i>
                          <i class="icon-glass"><span>Todo Incluido</span></i>
                          <i class="icon-map-marker"><span>Pie de Playa</span></i>
                      </div>
                      <div class="content_price"><a class="price_folio mxn" href="#">$8990</a><a class="price_folio" href="/hotel/SandosCaracol/">Ver Detalles</a></div>
                  </div>
              </div>

              <div id="box2" class="africa box col4 hover-item">
                  <div class="view view-first">
                      <img class="imgTop" alt="hotel" src="/imagenesMVRM/portada/MVRM-Sandos_Playacar-600x450.jpg"/>
                      <div class="abs">
                          <a class="fancybox zoom info" href="imagenesMVRM/portada/MVRM-Sandos_Playacar-600x450.jpg"></a>
                      </div>	
                  </div>
                  <div class="layer_txt">
                      <h3><a title="Some new Sketchs" rel="">Sandos Playacar</a></h3>
                      <span class="stars">
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                      </span>
                      <div class="clear"></div>
                      <p class="content_txt">Hasta 70% de descuento! Encuentra tu hotel HOY con flexibilidad para las Fechas de tu Reserva.</p>
                      <div class="extra_trip">
                          <i class="icon-comment"><span>5D/4N</span></i>
                          <i class="icon-glass"><span>Todo Incluido</span></i>
                          <i class="icon-map-marker"><span>Pie de Playa</span></i>
                      </div>
                      <div class="content_price"><a class="price_folio mxn" href="#">$8990</a><a class="price_folio" href="/hotel/SandosPlayacar/">Ver Detalles</a></div>
                  </div>
              </div>
              <div id="box3" class="africa box col4 hover-item">
                  <div class="view view-first">
                      <img class="imgTop" alt="hotel" src="/imagenesMVRM/portada/MVRM-ParkRoyal-600x450.jpeg"/>
                      <div class="abs">
                          <a class="fancybox zoom info" href="imagenesMVRM/portada/MVRM-ParkRoyal-600x450.jpeg"></a>
                      </div>	
                  </div>
                  <div class="layer_txt">
                      <h3><a title="Some new Sketchs" rel="">Park Royal</a></h3>
                      <span class="stars">
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                      </span>
                      <div class="clear"></div>
                      <p class="content_txt">Hasta 70% de descuento! Encuentra tu hotel HOY con flexibilidad para las Fechas de tu Reserva.</p>
                      <div class="extra_trip">
                          <i class="icon-comment"><span>5D/4N</span></i>
                          <i class="icon-glass"><span>Todo Incluido</span></i>
                          <i class="icon-map-marker"><span>Pie de Playa</span></i>
                      </div>
                      <div class="content_price"><a class="price_folio mxn" href="#">$8990</a><a class="price_folio" href="/hotel/ParkRoyal/">Ver Detalles</a></div>
                  </div>
              </div>
              <div id="box4" class="africa box col4 hover-item">
                  <div class="view view-first">
                      <img class="imgTop" alt="hotel" src="/imagenesMVRM/portada/MVRM-Flamingo-600x450.jpg"/>
                      <div class="abs">
                          <a class="fancybox zoom info" href="imagenesMVRM/portada/MVRM-Flamingo-600x450.jpg"></a>
                      </div>	
                  </div>
                  <div class="layer_txt">
                      <h3><a title="Some new Sketchs" rel="">Flamingo</a></h3>
                      <span class="stars">
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                      </span>
                      <div class="clear"></div>
                      <p class="content_txt">Hasta 70% de descuento! Encuentra tu hotel HOY con flexibilidad para las Fechas de tu Reserva.</p>
                      <div class="extra_trip">
                          <i class="icon-comment"><span>5D/4N</span></i>
                          <i class="icon-glass"><span>Todo Incluido</span></i>
                          <i class="icon-map-marker"><span>Pie de Playa</span></i>
                      </div>
                      <div class="content_price"><a class="price_folio mxn" href="#">$8990</a><a class="price_folio" href="/hotel/Flamingo/">Ver Detalles</a></div>
                  </div>
              </div>
              <div id="box5" class="africa box col4 hover-item">
                  <div class="view view-first">
                      <img class="imgTop" alt="hotel" src="/imagenesMVRM/portada/MVRM-Seadust-600x450.jpeg"/>
                      <div class="abs">
                          <a class="fancybox zoom info" href="imagenesMVRM/portada/MVRM-Seadust-600x450.jpeg"></a>
                      </div>	
                  </div>
                  <div class="layer_txt">
                      <h3><a title="Some new Sketchs" rel="">Seadust</a></h3>
                      <span class="stars">
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                      </span>
                      <div class="clear"></div>
                      <p class="content_txt">Hasta 70% de descuento! Encuentra tu hotel HOY con flexibilidad para las Fechas de tu Reserva.</p>
                      <div class="extra_trip">
                          <i class="icon-comment"><span>5D/4N</span></i>
                          <i class="icon-glass"><span>Todo Incluido</span></i>
                          <i class="icon-map-marker"><span>Pie de Playa</span></i>
                      </div>
                      <div class="content_price"><a class="price_folio mxn" href="#">$15990</a><a class="price_folio" href="/hotel/Seadust/">Ver Detalles</a></div>
                  </div>
              </div>         

              <!--EUROPE = PAREJA-->
              <!--div class="europe box col4 hover-item">
                  <div class="view view-first">
                      <img class="imgTop" alt="hotel" src="/imagenesMVRM/portada/MVRM-melody-maker-cancun-001-600x450.jpg"/>
                      <div class="abs">
                          <a class="fancybox zoom info" href="imagenesMVRM/portada/MVRM-melody-maker-cancun-001-600x450.jpg"></a>
                      </div>	
                  </div>
                  <div class="layer_txt">
                      <h3><a title="Some new Sketchs" rel="">Melody Maker</a></h3>
                      <span class="stars">
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                      </span>
                      <div class="clear"></div>
                      <p class="content_txt">Hasta 70% de descuento! Encuentra tu hotel HOY con flexibilidad para las Fechas de tu Reserva.</p>
                      <div class="extra_trip">
                          <i class="icon-comment"><span>5D/4N</span></i>
                          <i class="icon-glass"><span>Todo Incluido</span></i>
                          <i class="icon-map-marker"><span>Pie de Playa</span></i>
                      </div>
                      <div class="content_price"><a class="price_folio mxn" href="#">$8990</a><a class="price_folio" href="/hotel/MelodyMaker/">Ver Detalles</a></div>
                  </div>
              </div>

              <div class="europe box col4 hover-item">
                  <div class="view view-first">
                      <img class="imgTop" alt="hotel" src="/imagenesMVRM/portada/MVRM-Bel-air-600x450.jpg"/>
                      <div class="abs">
                          <a class="fancybox zoom info" href="imagenesMVRM/portada/MVRM-Bel-air-600x450.jpg"></a>
                      </div>	
                  </div>
                  <div class="layer_txt">
                      <h3><a title="Some new Sketchs" rel="">Bel Air</a></h3>
                      <span class="stars">
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                      </span>
                      <div class="clear"></div>
                      <p class="content_txt">Hasta 70% de descuento! Encuentra tu hotel HOY con flexibilidad para las Fechas de tu Reserva.</p>
                      <div class="extra_trip">
                          <i class="icon-comment"><span>5D/4N</span></i>
                          <i class="icon-glass"><span>Todo Incluido</span></i>
                          <i class="icon-map-marker"><span>Pie de Playa</span></i>
                      </div>
                      <div class="content_price"><a class="price_folio mxn" href="#">$8990</a><a class="price_folio" href="/hotel/BelAir/">Ver Detalles</a></div>
                  </div>
              </div-->

              <div class="europe box col4 hover-item">
                  <div class="view view-first">
                      <img class="imgTop" alt="hotel" src="/imagenesMVRM/portada/MVRM-Sandos_cancun-600x450.jpg"/>
                      <div class="abs">
                          <a class="fancybox zoom info" href="imagenesMVRM/portada/MVRM-Sandos_cancun-600x450.jpg"></a>
                      </div>	
                  </div>
                  <div class="layer_txt">
                      <h3><a title="Some new Sketchs" rel="">Sandos Cancun</a></h3>
                      <span class="stars">
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                          <img alt="" src="/images/star.png"/>
                      </span>
                      <div class="clear"></div>
                      <p class="content_txt">Hasta 70% de descuento! Encuentra tu hotel HOY con flexibilidad para las Fechas de tu Reserva.</p>
                      <div class="extra_trip">
                          <i class="icon-comment"><span>5D/4N</span></i>
                          <i class="icon-glass"><span>Todo Incluido</span></i>
                          <i class="icon-map-marker"><span>Pie de Playa</span></i>
                      </div>
                      <div class="content_price"><a class="price_folio mxn" href="#">$8990</a><a class="price_folio" href="/hotel/SandosCancun/">Ver Detalles</a></div>
                  </div>
              </div>
          </div>
        </div> <!-- #container -->
    </div>  <!-- PRODUCTS = FAMILIA - PAREJA -->    


    <!-- TOURS = FAMILIA -->
    <div class="slidePoint" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
        <div class="effect_2 padding_slide4">
            <div class="container clearfix">
                <div class="grid_12">
                    <h1>En Familia o En Pareja</h1>
                    <h2>Sea con sus niños o en pareja, tenemos ofertas para ti</h2>			
                </div>

            </div>

        </div>
    </div>

    <!-- Carousel -->
    <div class="slidePoint" id="slide6" data-slide="6" data-stellar-background-ratio="0.5">
        <div class="padding_slide5">
            <div class="bord_top"></div>
            <div class="container clearfix">
                <div  class="grid_12">
                </div>
            </div>

            <div class="flexslider">
                <ul class="slides">
                    <li><div class="flex-caption">
                            <div class="content-flex-img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="">                                
                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/MVRM-Bel-air-215x153.webp" type="image/webp">
                                    <img src="/imagenesMVRM/portada/carousel/MVRM-Bel-air-215x153.jpg" alt="" loading="lazy"/>
                                </picture>
                            </div>
                            <div class="flex-content">
                                <h3>Alberca por la Playa</h3>
                                <p>The Bel Air</p>
                                <!--i class="icon-comment"><span>192</span></i>
                                <i class="icon-glass"><span>All inclusive</span></i>
                                <p class="price_gallery">$399</p-->
                            </div>
                        </div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/carousel/bel-air-poolbeach-1600x1200.webp" type="image/webp">
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/carousel/bel-air-poolbeach-1600x1200.jpg">                                
                            <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/bel-air-poolbeach-1600x1200.webp" type="image/webp">
                            <img src="/imagenesMVRM/portada/carousel/bel-air-poolbeach-1600x1200.jpg" alt="" loading="lazy"/>
                        </picture>
                    </li>
                    <li><div class="flex-caption">
                            <div class="content-flex-img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="">                                          
                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/MVRM-Flamingo-215x153.webp" type="image/webp">
                                    <img src="/imagenesMVRM/portada/carousel/MVRM-Flamingo-215x153.jpg" alt="" loading="lazy"/>
                                </picture>
                            </div>
                            <div class="flex-content">
                                <h3>Kids Club</h3>
                                <p>Flamingo Cancun</p>
                                <!--i class="icon-comment"><span>192</span></i>
                                <i class="icon-glass"><span>All inclusive</span></i>
                                <p class="price_gallery">$600</p-->
                            </div>
                        </div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/carousel/flamingo-cancun-kclub-1600x1200.webp" type="image/webp">
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/carousel/flamingo-cancun-kclub-1600x1200.jpg">                                
                            <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/flamingo-cancun-kclub-1600x1200.webp" type="image/webp">
                            <img src="/imagenesMVRM/portada/carousel/flamingo-cancun-kclub-1600x1200.jpg" alt="" loading="lazy"/>
                        </picture>
                    </li>
                    <li><div class="flex-caption">
                            <div class="content-flex-img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="">                                            
                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/MVRM-logocompleto215x153.webp" type="image/webp">
                                    <img src="/imagenesMVRM/portada/carousel/MVRM-logocompleto215x153.jpg" alt="" loading="lazy"/>
                                </picture>
                            </div>
                            <div class="flex-content">
                                <h3>Felices en la PLaya</h3>
                                <p>No Tiene Precio</p>
                                <!--i class="icon-comment"><span>192</span></i>
                                <i class="icon-glass"><span>All inclusive</span></i>
                                <p class="price_gallery">$500</p-->
                            </div>
                        </div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/carousel/jeune-maman-1600x1200.webp" type="image/webp">
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/carousel/jeune-maman-1600x1200.jpg">                                
                            <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/jeune-maman-1600x1200.webp" type="image/webp">
                            <img src="/imagenesMVRM/portada/carousel/jeune-maman-1600x1200.jpg" alt="" loading="lazy"/>
                        </picture>
                    </li>
                    <!--li><div class="flex-caption">
                            <div class="content-flex-img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="">                                         
                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/MVRM-melody-maker-cancun-001-215x153.webp" type="image/webp">
                                    <img src="/imagenesMVRM/portada/carousel/MVRM-melody-maker-cancun-001-215x153.jpg" alt="" loading="lazy"/>
                                </picture>
                            </div>
                            <div class="flex-content">
                                <h3>Fiesta por la Alberca</h3>
                                <p>Melody Maker</p>
                                <!--i class="icon-comment"><span>192</span></i>
                                <i class="icon-glass"><span>All inclusive</span></i>
                                <p class="price_gallery">$1200</p-->
                            <!--/div>
                        </div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/carousel/MelodyMaker-pool-party-1600x1200.webp" type="image/webp">
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/carousel/MelodyMaker-pool-party-1600x1200.jpg">                                
                            <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/MelodyMaker-pool-party-1600x1200.webp" type="image/webp">
                            <img src="/imagenesMVRM/portada/carousel/MelodyMaker-pool-party-1600x1200.jpg" alt="" loading="lazy"/>
                        </picture>
                    </li-->
                    <li><div class="flex-caption">
                            <div class="content-flex-img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="">                                           
                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/MVRM-logocompleto215x153.webp" type="image/webp">
                                    <img src="/imagenesMVRM/portada/carousel/MVRM-logocompleto215x153.jpg" alt="" loading="lazy"/>
                                </picture>
                            </div>
                            <div class="flex-content">
                                <h3>Hasta 2 Ninos Gratis</h3>
                                <p>Venimos Todos</p>
                                <!--i class="icon-comment"><span>192</span></i>
                                <i class="icon-glass"><span>All inclusive</span></i>
                                <p class="price_gallery">$1200</p-->
                            </div>
                        </div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/carousel/papas-30-1600x1200.webp" type="image/webp">
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/carousel/papas-30-1600x1200.jpg">                                
                            <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/papas-30-1600x1200.webp" type="image/webp">
                            <img src="/imagenesMVRM/portada/carousel/papas-30-1600x1200.jpg" alt="" loading="lazy"/>
                        </picture>
                    </li>
                    <li><div class="flex-caption">
                            <div class="content-flex-img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="">                                      
                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/MVRM-ParkRoyal-215x153.webp" type="image/webp">
                                    <img src="/imagenesMVRM/portada/carousel/MVRM-ParkRoyal-215x153.jpeg" alt="" loading="lazy"/>
                                </picture>
                            </div>
                            <div class="flex-content">
                                <h3>Fiesta Roof Top</h3>
                                <p>Park Royal</p>
                                <!--i class="icon-comment"><span>192</span></i>
                                <i class="icon-glass"><span>All inclusive</span></i>
                                <p class="price_gallery">$700</p-->
                            </div>
                        </div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/carousel/ParkRoyal-roof-1600x1200.webp" type="image/webp">
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/carousel/ParkRoyal-roof-1600x1200.jpeg">                                
                            <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/ParkRoyal-roof-1600x1200.webp" type="image/webp">
                            <img src="/imagenesMVRM/portada/carousel/ParkRoyal-roof-1600x1200.jpeg" alt="" loading="lazy"/>
                        </picture>
                    </li>
                    <li><div class="flex-caption">
                            <div class="content-flex-img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="">                                             
                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/MVRM-logocompleto215x153.webp" type="image/webp">
                                    <img src="/imagenesMVRM/portada/carousel/MVRM-logocompleto215x153.jpg" alt="" loading="lazy"/>
                                </picture>
                            </div>
                            <div class="flex-content">
                                <h3>Actividades Eco-Turisticas</h3>
                                <p>Hasta 40% de Descuento en Tours</p>
                                <!--i class="icon-comment"><span>192</span></i>
                                <i class="icon-glass"><span>All inclusive</span></i>
                                <p class="price_gallery">$1200</p-->
                            </div>
                        </div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/carousel/PARQUE-XCARET-1600x1200.webp" type="image/webp">
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/carousel/PARQUE-XCARET-1600x1200.jpg">                                
                            <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/PARQUE-XCARET-1600x1200.webp" type="image/webp">
                            <img src="/imagenesMVRM/portada/carousel/PARQUE-XCARET-1600x1200.jpg" alt="" loading="lazy"/>
                        </picture>
                    </li>
                    <li><div class="flex-caption">
                            <div class="content-flex-img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="">                                            
                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/MVRM-Sandos_Playacar-215x153.webp" type="image/webp">
                                    <img src="/imagenesMVRM/portada/carousel/MVRM-Sandos_Playacar-215x153.jpg" alt="" loading="lazy"/>
                                </picture>
                            </div>
                            <div class="flex-content">
                                <h3>Bienvenidos!</h3>
                                <p>Sandos Playacar</p>
                                <!--i class="icon-comment"><span>192</span></i>
                                <i class="icon-glass"><span>All inclusive</span></i>
                                <p class="price_gallery">$600</p-->
                            </div>
                        </div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/carousel/SANDOS_PLAYACAR_hall-1600x1200.webp" type="image/webp">
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/carousel/SANDOS_PLAYACAR_hall-1600x1200.jpg">                                
                            <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/SANDOS_PLAYACAR_hall-1600x1200.webp" type="image/webp">
                            <img src="/imagenesMVRM/portada/carousel/SANDOS_PLAYACAR_hall-1600x1200.jpg" alt="" loading="lazy"/>
                        </picture>
                    </li>
                    <li><div class="flex-caption">
                            <div class="content-flex-img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="">                                             
                                    <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/MVRM-Sandos_Caracol-215x153.webp" type="image/webp">
                                    <img src="/imagenesMVRM/portada/carousel/MVRM-Sandos_Caracol-215x153.jpg" alt="" loading="lazy"/>
                                </picture>
                            </div>
                            <div class="flex-content">
                                <h3>Cuartos de Lujo</h3>
                                <p>Sandos Caracol</p>
                                <!--i class="icon-comment"><span>192</span></i>
                                <i class="icon-glass"><span>All inclusive</span></i>
                                <p class="price_gallery">$1200</p-->
                            </div>
                        </div>
                        <picture>
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/webp/portada/carousel/SandosCaracol-cuarto-1600x1200.webp" type="image/webp">
                            <source media="(max-width: 480px)" srcset="/imagenesMVRM/cache/device/default/portada/carousel/SandosCaracol-cuarto-1600x1200.jpg">                                
                            <source srcset="/imagenesMVRM/cache/large/webp/portada/carousel/SandosCaracol-cuarto-1600x1200.webp" type="image/webp">
                            <img src="/imagenesMVRM/portada/carousel/SandosCaracol-cuarto-1600x1200.jpg" alt="" loading="lazy"/>
                        </picture>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    
    <!-- OUR OFFERS = Terminos y Condiciones -->
    <div class="slidePoint" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
        <div class="container clearfix">

            <img class="icon_img" src="/images/icon3.jpg" alt=""/>
            <h4>Terminos y Condiciones</h4>
            <div class="grid_12 history">

                <div id="offers1" class="grid_4 serv_block">
                    <picture>
                        <source srcset="/imagenesMVRM/cache/large/webp/portada/MVRM-timeshare-tour-580x382.webp" type="image/webp">
                        <img class="images_travel1" src="/imagenesMVRM/portada/MVRM-timeshare-tour-580x382.jpg" alt="" loading="lazy"/>
                    </picture>
                     <picture>
                         <source srcset="/imagenesMVRM/cache/large/webp/portada/MVRM-timeshare-tour-580x382.webp" type="image/webp">
                         <img class="images_travel2" src="/imagenesMVRM/portada/MVRM-timeshare-tour-580x382.jpg" alt="" loading="lazy"/>
                    </picture>
                    <img class="images_transparent" src="/images/travel_transparent.png" alt="" loading="lazy"/>
                    <p>Ofertas Subsidiadas</p>
                    <span>Todas nuestras ofertas son subsiadas por el club vacacional del hotel para vacaciones al mejor precio.</span>
                    <a class="serv_link1" href="/TerminosCondiciones/">Leer Más</a>

                </div>
                <div id="offers2" class="grid_4 serv_block">
                    <!--<div class="icon_block2"></div>-->
                    <picture>
                        <source srcset="/imagenesMVRM/cache/large/webp/portada/MVRM-todoincluido-580x382.webp" type="image/webp">
                        <img class="images_travel1" src="/imagenesMVRM/portada/MVRM-todoincluido-580x382.jpg" alt="" loading="lazy"/>
                    </picture>
                     <picture>
                         <source srcset="/imagenesMVRM/cache/large/webp/portada/MVRM-todoincluido-580x382.webp" type="image/webp">
                         <img class="images_travel2" src="/imagenesMVRM/portada/MVRM-todoincluido-580x382.jpg" alt="" loading="lazy"/>
                    </picture>
                    <img class="images_transparent" src="/images/travel_transparent.png" alt="" loading="lazy"/>

                    <p>Todo Incluido</p>
                    <span>Todas nuestras ofertas cuentan con plan de alimentos y bebidas todo incluido del hotel. Aprovecha al maximo.</span>
                    <a class="serv_link1" href="/TerminosCondiciones/">Leer Más</a>

                </div>
                <div id="offers3" class="grid_4 serv_block" style="margin-right:0">
                    <picture>
                        <source srcset="/imagenesMVRM/cache/large/webp/portada/MVRM-airport-pickup-580x382.webp" type="image/webp">
                        <img class="images_travel1" src="/imagenesMVRM/portada/MVRM-airport-pickup-580x382.jpg" alt="" loading="lazy"/>
                    </picture>
                     <picture>
                         <source srcset="/imagenesMVRM/cache/large/webp/portada/MVRM-airport-pickup-580x382.webp" type="image/webp">
                         <img class="images_travel2" src="/imagenesMVRM/portada/MVRM-airport-pickup-580x382.jpg" alt="" loading="lazy"/>
                    </picture>
                    <img class="images_transparent" src="/images/travel_transparent.png" alt="" loading="lazy"/>

                    <p>Transportacion</p>
                    <span>Todas nuestras ofertas a precio increible tienen incluida su transportacion del aeropuerto a su hotel incluida.</span>
                    <a class="serv_link1" href="/TerminosCondiciones/">Leer Más</a>

                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div> <!-- OUR OFFERS = Terminos y Condiciones -->    

    <!-- Contacts = Contactos -->
    <div class="slidePoint" id="slide10" data-slide="10" data-stellar-background-ratio="0.5" >
        <div class="container clearfix" >
            {% include "block-contactanos.html" %}
        </div>
	
        <div id="map_container" style="display:none">
                <div id="map_canvas"></div>
        </div>
    </div>


    <div id="footer">
        <div class="container clearfix">
            {% include "footer-info.html" %}
        </div>
    </div>
    
    <script src="/js/jquery.transit.js" type="text/javascript"></script>
    <script src="/js/slider/functions.js" type="text/javascript"></script>

	<script src="/js/radio.js" type="text/javascript"></script>
	<script src="/js/JScript.js" type="text/javascript"></script>
	<script src="/js/jquery.stellar.min.js" type="text/javascript"></script>
	<script src="/js/waypoints.min.js" type="text/javascript"></script>
    
    <script src="/js/coordmap.js" type="text/javascript"></script>
    <script src="/js/init.js" type="text/javascript"></script>
    
    <!--Google Maps -->
    <script type="text/javascript">
        function initialize() {
            var styleArray = [
            {
                featureType: 'all',
                stylers: [
                { saturation: 20 }
                ]
            }, {
                featureType: 'road.arterial',
                elementType: 'geometry',
                stylers: [
                { hue: '#00ffee' },
                { saturation: 50 }
                ]
            }, {
                featureType: 'poi.business',
                elementType: 'labels',
                stylers: [
                { visibility: 'off' }
                ]
            }
            ];


            var latlng = new google.maps.LatLng(45.466, 9.186);
            var myOptions = {
                zoom: 12,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: styleArray,
                mapTypeControl: false,
                panControl: false,
                streetViewControl: false,
                zoomControl: false,

                scaleControl: true,
                scaleControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_LEFT
                }
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
			    myOptions);
        }
    </script>
    <script src="/js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="/js/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
    <!--script type="text/javascript">
        //JSHint Validated Custom JS Code
        $(document).ready(function () {
            // Contact Form
            $("#ajax-contact-form").submit(function (e) {
                e.preventDefault();
                var name = $("#name").val();
                var tel = $("#telefono").val();
                var email = $("#email").val();
                var text = $("#message").val();
                var dataString = 'name=' + name + '&telefono=' + tel + '&email=' + email + '&message=' + text;
                function isValidEmail(emailAddress) {
                    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
                    return pattern.test(emailAddress);
                };

                if (isValidEmail(email) && (tel.length > 9) && (name.length > 1)) {
                    $.ajax({
                        type: "POST",
                        url: "/contact_form/formulariomandado/",
                        data: dataString,
                        success: function () {
                            $('.success').fadeIn(1000);
                        }
                    });
                } else {
                    $('.error').fadeIn(1000);
                }

                return false;
            });

        });
    </script-->
    <div id="valHeight"></div>
	
    <script type="text/javascript">	    /*$($.date_input.initialize);*/</script>
    <!--SlidetTop-->
	<!-- jQuery KenBurn Slider  -->	
	<script src="/js/slide/jquery.themepunch.plugins.min.js" type="text/javascript"></script>			
    <script src="/js/slide/jquery.themepunch.revolution.min.js" type="text/javascript"></script>	

     <!--Slider-->
    
    
    <!--
			##############################
			 - ACTIVATE THE BANNER HERE -
			##############################
			-->
			<script type="text/javascript">
			    //JSHint Validated Custom JS Code
			    /*jslint smarttabs:true */
			    var tpj = jQuery;
			    tpj(document).ready(function () {

			        if (tpj.fn.cssOriginal !== undefined)
			            tpj.fn.css = tpj.fn.cssOriginal;

			        tpj('.fullwidthbanner').revolution(
                {
                    delay: 9000,
                    startwidth: 890,
                    startheight: 650,
                    onHoverStop: 'on',
                    thumbWidth: 100, thumbHeight: 50,
                    thumbAmount: 4,
                    hideThumbs: 200, navigationType: 'both',
                    navigationArrows: "verticalcentered",
                    navigationStyle: "round",
                    touchenabled: "on",
                    navOffsetHorizontal: 0,
                    navOffsetVertical: 20,
                    fullWidth: "on",
                    shadow: 0
                });
			    });
    </script>
        <!--And Slider-->	
</body>
</html>
